/* Reset default styles for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling for the entire page */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Background container with a fixed background image */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-image: url('/gargantua-black-1920x1080-9621.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

/* Overlay for the background */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Styling for the user input form */
.user-form {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* Styling for the input field */
.user-form input[type="text"] {
    width: 70%;
    display: block;
    background-color: #1e1e1f;
    border: none;
    color: #fff;
    padding: 14px 20px;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Styling for the submit button */
.user-form button[type="submit"] {
    background-color: #b20000;
    color: #fff;
    border: none;
    padding: 14px 20px; 
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Styling for the user information card */
.card {
    max-width: 800px;
    background-color: #272627;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 1.5rem;
    margin: 0 1.5rem;
}

/* Styling for the user avatar */
.avatar {
    border-radius: 50%;
    border: 10px solid #242424;
    height: 150px;
    width: 150px;
}

/* Styling for user information */
.user-info {
    color: #eee;
    margin-left: 2rem;
}

/* Styling for user information headings and paragraphs */
.user-info h2 {
    margin-top: 0;
}

.user-info p {
    margin: 0.5rem 0;
}

/* Styling for user information list */
.user-info ul {
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

/* Styling for user information list items */
.user-info ul li {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
}

/* Styling for strong elements in list items */
.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

/* Styling for repository links */
.repo {
    text-decoration: none;
    color: #fff;
    background-color: #1d1d1e;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 5px;
}

/* Hide elements with the "hidden" class */
.hidden {
    display: none;
}

/* Styling for API rate limit information */
.api-limit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
}

/* Styling for paragraphs within API limit information */
.api-limit p {
    margin: 0.2rem 0;
}

/* Styling for bold elements within API limit information */
.api-limit span {
    font-weight: bold;
    color: #b20000;
}

/* Styling for the page heading */
.page-heading {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #eee;
    text-align: center;
}
